<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECommerce</display-name>
  <welcome-file-list>
    <welcome-file>ListarProduto.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistroProduto</servlet-name>
    <servlet-class>Controle.ServletCadastrarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroProduto</servlet-name>
    <url-pattern>/administrador/cadastrarProduto</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/ListarProduto.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ExcluirProduto</servlet-name>
    <servlet-class>Controle.ServletExcluirProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirProduto</servlet-name>
    <url-pattern>/administrador/excluirProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterarProduto</servlet-name>
    <servlet-class>Controle.ServletAlterarProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarProduto</servlet-name>
    <url-pattern>/administrador/alterarProduto</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroSegurancaAdministrador</display-name>
    <filter-name>FiltroSegurancaAdministrador</filter-name>
    <filter-class>Controle.FiltroSegurancaAdministrador</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroSegurancaAdministrador</filter-name>
    <url-pattern>/administrador/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLoginAdministrador</display-name>
    <servlet-name>ServletLoginAdministrador</servlet-name>
    <servlet-class>Controle.ServletLoginAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginAdministrador</servlet-name>
    <url-pattern>/loginAdministrador</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroSegurancaCliente</display-name>
    <filter-name>FiltroSegurancaCliente</filter-name>
    <filter-class>Controle.FiltroSegurancaCliente</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroSegurancaCliente</filter-name>
    <url-pattern>/cliente/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLoginCliente</display-name>
    <servlet-name>ServletLoginCliente</servlet-name>
    <servlet-class>Controle.ServletLoginCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLoginCliente</servlet-name>
    <url-pattern>/loginCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAdicionarCarrinho</display-name>
    <servlet-name>ServletAdicionarCarrinho</servlet-name>
    <servlet-class>Controle.ServletAdicionarCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAdicionarCarrinho</servlet-name>
    <url-pattern>/cliente/adicionaCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExcluirProdutoCarrinho</display-name>
    <servlet-name>ServletExcluirProdutoCarrinho</servlet-name>
    <servlet-class>Controle.ServletExcluirProdutoCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExcluirProdutoCarrinho</servlet-name>
    <url-pattern>/cliente/excluirProdutoCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletFinalizarSessao</display-name>
    <servlet-name>ServletFinalizarSessao</servlet-name>
    <servlet-class>Controle.ServletFinalizarSessao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFinalizarSessao</servlet-name>
    <url-pattern>/ServletFinalizarSessao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cadastrarCategoria</display-name>
    <servlet-name>cadastrarCategoria</servlet-name>
    <servlet-class>Controle.ServletCadastrarCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarCategoria</servlet-name>
    <url-pattern>/administrador/cadastrarCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>administrador/cadastrarSubCategoria</display-name>
    <servlet-name>administrador/cadastrarSubCategoria</servlet-name>
    <servlet-class>Controle.ServletCadastrarSubCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>administrador/cadastrarSubCategoria</servlet-name>
    <url-pattern>/administrador/cadastrarSubCategoria</url-pattern>
  </servlet-mapping>

	<servlet>
		<servlet-name>CarregarImagem</servlet-name>
		<servlet-class>Controle.PictureLoadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CarregarImagem</servlet-name>
		<url-pattern>/administrador/carregaFoto</url-pattern>
	</servlet-mapping>
</web-app>