#divmenu{
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	background-color: red;
	border: 1px black solid;
}

#divprodutos{
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	background-color: red;
	border: 1px black solid;
}
